﻿/*
Description:
		1 - Including files ("fonts.css", "reset.css" and others)
		2 - Tags styles and General styles
		3 - header
		4 - .content
		5 - footer
		* - @media rules
*/

/* 1 - BEGIN of Including files ("fonts.css", "reset.css" and others) ---------------------------------------------------------- */
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue/BebasNeueRegular.eot');
    src: url('fonts/BebasNeue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BebasNeue/BebasNeueRegular.woff2') format('woff2'),
        url('fonts/BebasNeue/BebasNeueRegular.woff') format('woff'),
        url('fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype'),
        url('fonts/BebasNeue/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue/BebasNeueBold.eot');
    src: url('fonts/BebasNeue/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BebasNeue/BebasNeueBold.woff2') format('woff2'),
        url('fonts/BebasNeue/BebasNeueBold.woff') format('woff'),
        url('fonts/BebasNeue/BebasNeueBold.ttf') format('truetype'),
        url('fonts/BebasNeue/BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue/BebasNeueLight.eot');
    src: url('fonts/BebasNeue/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/BebasNeue/BebasNeueLight.woff2') format('woff2'),
        url('fonts/BebasNeue/BebasNeueLight.woff') format('woff'),
        url('fonts/BebasNeue/BebasNeueLight.ttf') format('truetype'),
        url('fonts/BebasNeue/BebasNeueLight.svg#BebasNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans';
    src: url('fonts/PTSans/PTSans-Bold.eot');
    src: url('fonts/PTSans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PTSans/PTSans-Bold.woff2') format('woff2'),
        url('fonts/PTSans/PTSans-Bold.woff') format('woff'),
        url('fonts/PTSans/PTSans-Bold.ttf') format('truetype'),
        url('fonts/PTSans/PTSans-Bold.svg#PTSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans';
    src: url('fonts/PTSans/PTSans-Regular.eot');
    src: url('fonts/PTSans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PTSans/PTSans-Regular.woff2') format('woff2'),
        url('fonts/PTSans/PTSans-Regular.woff') format('woff'),
        url('fonts/PTSans/PTSans-Regular.ttf') format('truetype'),
        url('fonts/PTSans/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.eot');
    src: url('fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
        url('fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon/icomoon.eot?mxkm9z');
  src:  url('fonts/icomoon/icomoon.eot?mxkm9z#iefix') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf?mxkm9z') format('truetype'),
    url('fonts/icomoon/icomoon.woff?mxkm9z') format('woff'),
    url('fonts/icomoon/icomoon.svg?mxkm9z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-people:before {
  content: "\e908";
}
.icon-map3:before {
  content: "\e902";
}
.icon-map4:before {
  content: "\e905";
}
.icon-mobile:before {
  content: "\e906";
}
.icon-user2:before {
  content: "\e907";
}
.icon-andr:before {
  content: "\e900";
  color: #fff;
}
.icon-aple:before {
  content: "\e901";
  color: #fff;
}
.icon-by:before {
  content: "\e903";
}
.icon-flamp:before {
    content: "\e904";
    color: #fff;
}
.icon-insta:before {
  content: "\e920";
  color: #fff;
}
.icon-korzina:before {
  content: "\e921";
}
.icon-map2:before {
  content: "\e922";
}
.icon-nachalo:before {
  content: "\e923";
  color: #fff;
}
.icon-next:before {
  content: "\e924";
}
.icon-nst:before {
  content: "\e925";
  color: #fefefe;
}
.icon-pena:before {
  content: "\e926";
}
.icon-placeholder:before {
  content: "\e928";
}
.icon-polm:before {
  content: "\e929";
}
.icon-rezina:before {
  content: "\e92a";
}
.icon-sand-clock:before {
  content: "\e92b";
}
.icon-set:before {
  content: "\e92c";
}
.icon-shield:before {
  content: "\e92d";
}
.icon-shop:before {
  content: "\e92e";
}
.icon-up:before {
  content: "\e92f";
  color: #fff;
}
.icon-vk:before {
  content: "\e930";
}
.icon-youtube:before {
  content: "\e931";
  color: #fff;
}


/* BEGIN of CSS RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

/* END of CSS RESET */

/* 1 - END of Including files ("fonts.css", "reset.css" and others) ---------------------------------------------------------- */
/* 2 - BEGIN of Tags and General styles ---------------------------------------------------------- */

body {
	min-height: 500px;
	margin: 0 auto;
	font-family: 'BebasNeue', sans-serif;
	font-weight: normal;
	font-size: 18px;
}

a {
	color: #fff;
	text-decoration: none;
	outline: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

h1 {

}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 30px;
}

h5 {
	font-size: 20px;
	font-family: "Roboto";
}

h6 {
	font-size: 18px;
	font-family: "Roboto";
}

p {
	font-family: "PTSans";
}

a:hover {
	opacity: 0.7;
	text-decoration: none;
	color: inherit;
	outline: none;
}

a:active {
	opacity: 0.6;
	outline: none;
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: none;
	color: inherit;
	text-decoration: none;
}

button, input, textarea, select {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

button:hover, input:hover, textarea:hover, select:hover {
	opacity: 0.8;
}

strong {
	font-weight: 700;
}

em {
	font-style:italic;
}

img {
	max-width: 100%;
}

.clear:before, .clear:after {
	content: "";
	display: block;
	clear: both;
}

.hide, .hidden {
	display: none;
}

.content-wrapper {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}


/* 2 - END of Tags styles and General styles ---------------------------------------------------------- */
/* 3 - BEGIN of header ---------------------------------------------------------- */

.container {
	max-width: 1164px;
}

.container-fluid {

}

header {
    position: relative;
    min-height: 80px;
}

.header-slider {
	max-width: 1920px;
	margin: 0 auto;
}

.justify-align {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    -webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.header-overlay.header-fixed {
	position: fixed;
	background: #222c57;
}

.header-top {
    height: 114px;
}

.header-top__right {
	width: 632px;
}

.header-top.active .header-top__right {
	width: auto;
}

.header-top.active .header-top__right > * {
	margin-left: 25px;
}

.header-top.active .header-top__right > .main-menu {
	margin-left: 100px;
}

.btn {
    display: inline-block;
    padding: 0 30px;
    height: 55px;
    line-height: 54px;
    text-align: center;
    background: #c01f24;
    border-radius: 0;
    font-size: 20px;
    color: #fff;
}

.btn:hover, .btn:focus {
	color: #fff;
}

.btn-call__back {
	width: 262px;
	height: 50px;
	padding: 0;
	line-height: 50px;
	background: #1a2039;
	border-radius: 30px;
}

.header-top.active .btn-call__back {
	display: none;
}

.header-tel {
	text-align: right;
}

.header-tel > span {
	display: block;
	font-size: 16px;
	font-family: "PTSans";
	opacity: .4;
	color: #fff;
}

.header-tel > a {
	font-size: 35px;
	color: #fff;
}

.header-user {

}

.header-user {
	font-size: 36px;
}

.icon-user2::before {
    color: #fff;
}

.burger-menu {
    display: block;
    margin: 0;
    padding: 0;
    width: 30px;
    outline: none;
    border: none;
    background: transparent;
}

.burger-menu:focus {
	outline: none;
}

.burger-menu span {
    position: relative;
    width: 100%;
    display: block;
    height: 3px;
    margin: 0 auto 3px;
    background: #fff;
    transition: all 500ms ease-in-out;
}

.burger-menu>span:last-child {
	margin-bottom: 0;
}

.burger-menu.active span:nth-of-type(1) {
    top: 4px;
    transform: rotate(45deg);
}

.burger-menu.active span:nth-of-type(2) {
	background-color: transparent;
}

.burger-menu.active span:nth-of-type(3) {
	top: -8px;
	transform: rotate(-45deg);
}

.main-menu__modal .modal-dialog {
	width: 100%;
    margin: 0;    
}

.main-menu__modal .modal-content {
    min-height: 100vh;
  	padding-top: 180px;
    background: #222c57;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.main-menu__item {
	position: relative;
	color: #fff;
}

.main-menu__item::before {
    content: '';
    position: absolute;
    right: 14px;
    top: 40px;
    height: 550px;
    width: 1px;
    background: #4E5679;
}

.modal-body .container .row .col-sm-4:nth-child(3) .main-menu__item::before {
    display: none;
}

.main-menu__item h3 {
    margin-bottom: 60px;
    font-size: 32px;
}

.main-menu__item h3 a {
	display: inline-block;
	border-bottom: 2px solid #c01f24;
}

.main-menu__list {
	list-style: none;
}

.main-menu__list > li {
	margin-bottom: 40px;
}

.main-menu__list > li > a {
	position: relative;
	display: inline-block;
	padding: 0 0 10px;
	font-size: 26px;
	opacity: .7;
}

.main-menu__list > li > a:hover {
	opacity: 1;
}

.main-menu__list > li > a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 280px;
	height: 2px;
	background: #394268;
}

.main-menu__sub {
	padding: 10px 0 0;
	list-style: none;
}

.main-menu__sub > li > a {
	line-height: 40px;
	font-family: "Roboto";
	font-size: 20px;
	opacity: .7;
}

.header-slider__item {
	position: relative;
}

.header-slider__content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 212px 0 0;
    z-index: 10;
}

.title-box {
	position: relative;
	padding: 0 0 0 30px;
	color: #fff;
}

.title-box h2 {
	margin-bottom: 20px;
    font-size: 48px;
    line-height: 36px;
}

.title-box::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 3px;
	background: #be191e;
}

.header-slider__item .title-box {

}

.header-slider__item h5 {
	font-family: "Roboto";
	opacity: .7;
	color: #fff;
}

.icon-list {
	--ms-align-items: flex-start;
	align-items: flex-start;
}

.header-slider__item .icon-list {
    margin: 76px 0 124px;
}

.icon-list__item {
	position: relative;
	padding: 0 0 0 10px;
}

.icon-list__item::before {
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width: 2px;
	height: 34px;
	background: #be191e;
}

.icon-list__item > i {
	font-size: 34px;
	color: #c1c4cf;
	font-family: "icomoon";
}

.icon-list__item > p {
	padding: 0 0 0 18px;
	font-size: 20px;
	color: #fff;
	opacity: .7;
	font-family: "Roboto";
}

.header-slider__item .btn {
	width: 257px;
}

.slick-dots {
    max-width: 1164px;
    margin: 0 auto;
    left: 40px;
    right: 0;
    bottom: 30px;
    text-align: left;
}

li.slick-active {
    position: relative;
    padding-right: 130px;
}

li.slick-active::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 94px;
    height: 1px;
    background: #fff;
    opacity: 0.7;
}

.slick-dots li button {
    position: relative;
    line-height: 0;
    display: block;
    width: auto;
    height: 19px;
    padding: 0 0 0 15px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    opacity: 0.7;
}

.slick-dots li.slick-active button {
	font-weight: bold;
}

.header-slider .slick-dots li button:before {
	font-family: "BebasNeue";
	font-weight: 300;
	opacity: 1;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
    content: "0";
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
    font-weight: 300;
}

.slick-dots li.slick-active button:before {
	font-weight: bold;
}

.header-scroll__bottom {
    position: absolute;
    bottom: 60px;
    font-size: 36px;
    transform: rotate(180deg);
}

.icon-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    --ms-align-items: center;
    align-items: center;
    margin: 30px 0 55px;
}

.icon-map4 {
	font-size: 65px;
}

.icon-map4::before {
	color: #fff;
}

.icon-block p {
    padding: 0 0 0 30px;
    font-size: 20px;
    color: #BCBDC4;
}

.icon-block p span {
	color: #fff;
}

.mobile-apps {
	margin: 40px 0 40px;
}

.mobile-apps a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
	font-size: 60px;
	color: #E0E0DF;
}

.header-slider__3 h2 {
	margin-bottom: 30px;
}

.header-slider__4 h2 {
	margin-bottom: 40px;
}

.header-slider__4 h5 {
	margin-bottom: 50px;
}

.header-slider__btn {
    position: absolute;
    bottom: 49px;
}

.header-slider__btn button {
    position: absolute;
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    opacity: 0.8;
}

.header-slider__btn button i::before {
	color: #fff;
}

.header-slider__prev {
	left: 0;
    top: -3px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header-slider__next {
    right: -250px;
}

/* 3 - END of header ---------------------------------------------------------- */
/* 4 - BEGIN of .content ---------------------------------------------------------- */

.content {
	min-height: 200px;
}

.product-catalog {
    position: relative;
    padding: 94px 0 0;
}

.product-catalog__box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	--ms-align-items: flex-start;
	align-items: flex-start;
}

.product-catalog__item {
	position: relative;
	width: 26%;
	color: #fff;
}

.product-catalog__item img {
	display: block;
}

.product-catalog__item:hover {
	opacity: 1;
}

.product-catalog__item:hover .product-catalog__text {
	background-color: #232C57;
	color: #fff;
}

.product-catalog__text {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 170px 15px 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.product-catalog__text h3 {
	margin-bottom: 2px;
}

.product-catalog__text h5 {
	opacity: .7;
}

.product-catalog__title {
	position: absolute;
	left: 0;
	bottom: 70px;
}

.product-catalog__title .title-box {
    margin: 0 0 40px;
    padding: 0 0 0 10px;
}

.product-catalog__title .title-box::before {
	width: 2px;
}

.product-catalog__title h2 {
	font-size: 50px;
	color: #000;
}

.product-catalog__title .btn {
	width: 214px;
}

.feedback-form {
    margin: 64px 0 30px;
    padding: 41px 108px;
    border: 5px solid #222C57;
}

.feedback-form .justify-align {
	--ms-align-items: flex-end;
	align-items: flex-end;
}

.feedback-form .title-box {
    padding: 0 0 0 15px;
    margin: 0 0 14px;
}

.feedback-form .title-box::before {
    width: 2px;
    height: 52px;
    top: 7px;
}

.feedback-form .title-box h3 {
    margin: 0 0 5px;
    color: #000;
}

.feedback-form .title-box h6 {
	color: #000;
}

.form input {
    padding: 0 0 0 15px;
    border: none;
    border-bottom: 2px solid #BABABA;
    outline: none;
}

.feedback-form input {
	width: 270px;
	height: 50px;
}

.feedback-form .btn {
	width: 240px;
}

*::-webkit-input-placeholder {
	color: #A3A3A3;
	font-size: 18px;
	font-family: "Roboto";
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*:-moz-placeholder {
	color: #A3A3A3;
	font-size: 18px;
	font-family: "Roboto";
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*::-moz-placeholder {
	color: #A3A3A3;
	font-size: 18px;
	font-family: "Roboto";
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*:-ms-input-placeholder {
	color: #A3A3A3;
	font-size: 18px;
	font-family: "Roboto";
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*:focus::-webkit-input-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

*:focus::-moz-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

*:focus:-moz-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

*:focus:-ms-input-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
	text-indent: 0;
}

textarea:focus::-moz-placeholder {
	text-indent: 0;
}

textarea:focus:-moz-placeholder {
	text-indent: 0;
}

textarea:focus:-ms-input-placeholder {
	text-indent: 0;
}

.services {
    padding: 50px 0 0;
}

.services-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.services-box__item {
	position: relative;
	width: 33.333333%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	--ms-align-items: flex-end;
	align-items: flex-end;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.services-box__item:not(.services-box__item--title)::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-right: 1px solid #4B5473;
	border-bottom: 1px solid #4B5473;
}


.services-box__item--title {
	--ms-align-items: flex-start;
	align-items: flex-start;
	padding: 40px 50px;
	background: #222C57;
}

.services-box__item img.opacity {
	opacity: 0;
}

.services-box__item--title .title-box {
	padding: 0 0 0 15px;
}

.services-box__item--title .title-box::before {
	width: 2px;
}

.services-box__item--title .title-box h2 {
	font-size: 50px;
	margin-bottom: 0;
}

.services-box__text {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 40px 45px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-end;
}

.services-box__text i {
    font-size: 45px;
    color: #fff;
}

.services-box__text h3 {
	margin-top: 20px;
	color: #fff;
}

.services-box__text .icon-pena {
    width: 74px;
    font-size: 72px;
}

.services-box__text .icon-rezina {
	font-size: 67px;
}

.services-box__text .icon-polm {
	font-size: 70px;
}

.services-box__text .icon-people {
    font-size: 54px;
}

.flip-horizontal {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.seminars {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	--ms-align-items: center;
	align-items: center;
	height: 535px;
	background: url(img/seminars-bg.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}

.seminars .title-box {
	padding: 0 0 0 15px;
}

.seminars .title-box::before {
	width: 2px;
}

.seminars .title-box h2 {
	letter-spacing: 0.05em;
}

.seminars p {
	margin: 50px 0 50px;
	font-size: 20px;
	line-height: 25px;
	color: #fff;
}

.life {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	--ms-align-items: center;
	align-items: center;
	height: 520px;
	padding: 0 0 0 95px;
	background: url(img/life-bg.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}

.life-wrapper {
	width: 1050px;
	--ms-align-items: flex-start;
	align-items: flex-start;
}

.life .title-box {
	padding: 0 0 0 15px;
}

.life .title-box::before {
    width: 2px;
    height: 96px;
    top: 14px;
}

.life .title-box h2 {
	font-size: 50px;
	line-height: normal;
}

.life-box {
	width: 744px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.life-box__item {
	position: relative;
	width: 50%;
}

.life-box__item img {
	display: block;
}

.life-box__links {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	--ms-align-items: flex-end;
	align-items: flex-end;
	justify-content: flex-end;

}

.life-box__links a {
	margin-left: 10px;
	font-size: 48px;
}

.history {
	height: 568px;
	padding: 80px 0;
	background: url(img/history-bg.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}

.history .title-box {
    display: inline-block;
    padding: 0 0 0 15px;
    margin: 0 0 60px;
}

.history .title-box h2 {
	margin-bottom: 0;
}

.history-slider {
	position: relative;
	max-width: 990px;
	margin: 0 auto;
}

.history-slider::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 83%;
    width: 100%;
    height: 1px;
    background: #fff;
}

.history-slider__item {
    position: relative;
    height: 100px;
    color: #fff;
}

.history-slider__years {
	display: inline-block;
	vertical-align: bottom;
	font-size: 24px;
	opacity: .5;
}

.history-slider__item:not(.slick-current) .history-slider__years {
	position: relative;
	bottom: -30px;
}

.history-slider__years > span {
	display: inline-block;
	vertical-align: bottom;
}

.history-slider__info {
	position: absolute;
	bottom: -1000px;
}

.history-slider__item--last {
	opacity: 0;
}

.slick-current .history-slider__years {
	font-size: 56px;
	opacity: 1;
}

.history-slider__text {
    width: 490px;
    text-align: left;
}

.history-slider__text h3 {
	margin-bottom: 20px;
	font-family: "BebasNeue";
}

.icon-buble {
	position: absolute;
	bottom: 6px;
	left: 0;
	right: 0;
    display: block;
    margin: 0 auto;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 50%;
}

.icon-buble::before {
    content: '';
    position: absolute;
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -6px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.history-slider__item:not(.slick-current) .icon-buble {
    opacity: .7;
    width: 14px;
    height: 14px;
    bottom: 9px;
}

.history-slider__text p {
	font-size: 18px;
}

.history-slider__text--current {
    max-width: 650px;
    margin: 60px auto;
    color: #fff;
    font-family: "PTSans";
}

.history-slider__text--current .history-slider__info {
	position: static;
	display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.history-slider__icon {
    width: 92px;
}

.history-slider__icon img {
	width: 92px;
}

.history-slider .slick-prev::before, .history-slider .slick-next::before {
    content: "\e92f";
    font-family: "icomoon";
    font-size: 36px;
    color: #D9D9D9;
}

.history-slider .slick-next {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.history-slider .slick-prev {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.history-slider .slick-prev {
    top: 85%;
    left: -60px;
}

.history-slider .slick-next {
    top: 73%;
    right: -60px;
}

.look-also {
    padding: 110px 0 62px;
    background: #fff;
}

.look-also .title-box, .title-box__black {
    padding: 0 0 0 15px;
    margin: 0 0 0 108px;
}

.look-also .title-box::before, .title-box__black::before {
	width: 2px;
}

.look-also .title-box h2, .title-box__black h2 {
    margin-bottom: 36px;
    font-size: 50px;
    color: #000;
}

.title-box__black {
    margin: 60px 0 30px;
}

.title-box__black h2 {
    margin: 0;
}

.slider-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.look-also__slider {
    max-width: 1000px;
    margin: 0 -40px;
}

.slider-item {
	outline: none;
}

.look-also__slider .slider-item {
	margin: 0 40px;
}

.slider-item__img {
    margin-bottom: 16px;
    text-align: center;
}

.slider-item__img a {
	position: relative;
    display: inline-block;
}

.slider-item__img a::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(34,44,87,0.8);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.slider-item__img a:hover {
	opacity: 1;
}

.slider-item__img a:hover::before {
	background-color: transparent;
}

.slider-item__img img {
	margin: 0 auto;
}

.slider-item h6 {
	font-family: "PTSans";
	font-weight: bold;
}

.read-more {
    display: inline-block;
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #A3A3A3;
    font-family: "PTSans";
    border-bottom: 1px solid;
}

.slick-prev::before, .slick-next::before {
	content: "\e924";
	font-family: "icomoon";
	font-size: 59px;
	color: #D9D9D9;
}

.slick-prev {
	-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
}

.slick-prev {
    top: 38%;
    left: -60px;
}

.slick-next {
    top: 40%;
    right: -60px;
}

.show-more {
	position: relative;
    display: inline-block;
    margin: 30px 0 0 108px;
    font-size: 30px;
    color: #A3A3A3;
    border-bottom: 2px solid;
}

.show-more::after {
    content: "\e924";
    position: absolute;
    top: 7px;
    right: -40px;
    font-family: "icomoon";
    font-size: 25px;
    color: #D9D9D9;
}

/*INNER pages styles--------------------------------------------------------------*/
.inner header {
    padding-top: 190px;
}

.inner .header-overlay {
    position: fixed;
    background: #222c57;
}

.inner .header-top__right {
    width: 706px;
}

.header-cart {
	position: relative;
}

.header-cart:hover, .header-cart:focus {
	color: #fff;
}

.header-cart .icon-korzina {
	font-size: 35px;
}

.header-cart__number {
    position: absolute;
    top: -6px;
    right: 0;
    width: 17px;
    height: 17px;
    line-height: 17px;
    background: #BE191E;
    font-size: 10px;
    font-family: "PTSans";
    text-align: center;
    border-radius: 50%;
}

.inner-menu__wrapper {
    border-bottom: 2px solid #D9D9D9;
    background: #fff;
}

.z-index .inner-menu__wrapper {
    visibility: hidden;
}

.inner-menu {
	min-height: 74px;
	list-style: none;
}

.inner-menu > li {
    position: relative;
}

.inner-menu > li > a {
    display: inline-block;
    height: 74px;
    line-height: 76px;
	font-size: 22px;
	color: #BABABA;
}

.inner-menu > li > a:hover {
	color: #000;
	opacity: 1;
}

.inner-menu > li.active > a {
	color: #000;
}

.inner-menu ul {
    display: none;
    position: absolute;
    list-style: none;
}

.inner-menu ul li {
    min-width: 260px;
    padding: 0 15px;
}

.inner-menu ul.inner-menu__level--1 {
    top: 100%;
    left: 0;
    background: #222c57;
}

.inner-menu ul a {
    display: block;
    padding: 12px 0;
    font-size: 22px;
    border-bottom: 1px solid;
    color: #A9ABB7;
}

.inner-menu ul.inner-menu__level--1 > li:hover {
    background: #be191e;
}

.inner-menu ul.inner-menu__level--1 > li:hover > a {
    color: #fff;
    border-color: transparent;
}

.inner-menu ul a:hover {
    opacity: 1;
}

.inner-menu ul.inner-menu__level--2 {
    left: 100%;
    top: 0;
    background: #d4d4d4;
}

.inner-menu ul.inner-menu__level--2 > li > a {
    color: #5F5F5F;
    border-color: #9F9F9F;
}

.inner-menu ul.inner-menu__level--2 > li > a:hover {
    color: #000;
}

.blue-box__wrapper {
	margin: 40px 0 30px;
}

.action-box {
	--ms-align-items: flex-start;
	align-items: flex-start;
}

.action-box > * {
	width: 50%;
	height: 233px;
}

.action-box__img {
	width: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	--ms-align-items: center;
	align-items: center;
	border: 1px solid #222C57;
}

.blue-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	--ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 233px;
	padding: 30px;
	background: #222c57;
	border-top: 3px solid #c01f24;
}

.blue-box * {
	color: #fff;
}

.blue-box__title {
    display: block;
    width: 100%;
    font-size: 25px;
}

.blue-box p {
	font-size: 14px;
}

.blue-box__icon {
	text-align: center;
}

.blue-box__icon img {
	display: inline-block;
	margin-bottom: 20px;
}

.blue-box__procent {
	font-size: 80px;
	color: #fff;
}

.catalog {
    padding: 25px 0 50px;
}

.catalog .title-box {
	padding: 0 0 0 15px;
}

.catalog h2 {
	color: #000;
	font-size: 35px;
	line-height: 30px;
	margin-bottom: 0;
}

.catalog-wrapper {
    margin: 42px 0 0;
}

.catalog-item {
	position: relative;
	height: 410px;
	padding: 26px 0 0;
	margin: 0 0 30px;
	font-family: "PTSans";
	border: 1px solid #CCCCCC;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.catalog-item:hover {
	border-color: #000;
}

.tag {
	position: absolute;
	padding: 0 15px;
	height: 30px;
	left: -15px;
	top: 15px;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 30px;
	background: #cccccc;
	z-index: 10;
}

.tag-hit {
	background: #222c57;
}

.tag-sale {
	background: #be191e;
}

.catalog-item__img {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    --ms-align-items: center;
    align-items: center;
    justify-content: center;
    height: 140px;
    margin: 0 0 17px;
}

.catalog-item__text {
	height: 155px;
	padding: 0 38px;
}

.catalog-item__text h6 {
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: bold;
}

.catalog-item__text h6 a {
	color: #000;
}

.catalog-item__text p {
	font-size: 14px;
	opacity: 0.7;
}

.catalog-item__bottom {
	height: 70px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	--ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	border-top: 1px solid #DEE0E6;
}

.catalog-item__bottom .icon-by {
	color: #818181;
	font-size: 22px;
}

.catalog-item__price {
	padding-left: 10px;
	font-size: 22px;
	font-weight: bold;
}

.old-price {
	font-size: 14px;
	opacity: .5;
	color: #000;
	text-decoration: line-through;
}

.catalog-item__next {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	--ms-align-items: center;
	align-items: center;
	justify-content: center;
    height: 312px;
}

.catalog-item__next > a {
	position: relative;
	padding: 0 50px 0 0;
	font-size: 25px;
	opacity: .7;
	font-family: "BebasNeue";
	color: #000;
}

.catalog-item__next > a::after {
	content: "\e924";
	position: absolute;
	right: 0;
	top: 6px;
	font-family: "icomoon";
	font-size: 49px;
	color: #7F7F7F;
}

.ransom {
	position: relative;
	background-color: #222c57;
	background: url(img/ransom-bg.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}

.ransom::before,.ransom::after {
	content: '';
	position: absolute;
	width: 426px;
	height: 6px;
	background: #c01f24;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
}

.ransom::after {
	top: auto;
	bottom: 0;
}

.ransom-wrapper {
	height: 324px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	--ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.ransom-text {
    width: 660px;
    border: 3px solid #FFFFFF;
    text-align: center;
}

.ransom-text > span {
    position: relative;
    top: -28px;
    display: inline-block;
    padding: 0 30px;
    font-size: 46px;
    color: #fff;
    background: #222c57;
}

.ransom-text__footnote {
	padding-top: 25px;
	font-size: 25px;
	font-family: "PTSans";
	color: #fff;
}

article {
	max-width: 945px;
	margin: 70px auto 70px;
	border-bottom: 3px solid #D9D9D9;
}

article p {
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 25px
}

article a {
	color: #000;
}

article .title-box {
	padding: 0 0 0 15px;
	margin-bottom: 35px;
}

article .title-box::before {
	width: 2px;
}

article .title-box h2 {
	color: #000;
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 0;
}

.article-bottom {
	padding: 0 120px 0 0;
	text-align: right;
}

.article-bottom .show-more {
	position: relative;
	margin: 0;
	border-bottom: 0;
}

.article-bottom .show-more::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: #a2151a;
}

.business {
    background: url(img/business-bg.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.business-wrapper {
    height: 324px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    --ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.business-text {
    width: 100%;
    padding: 0 90px;
    text-align: left;
    border: 3px solid #FFFFFF;
}
    
.business-text > span {
    position: relative;
    top: -28px;
    display: inline-block;
    padding: 0 20px;
    font-size: 46px;
    color: #fff;
    background: #222c57;
}

.business-text > p {
    padding: 0 0 0 20px;
    font-size: 20px;
    color: #fff;
}

.business-btn__wrapper {
    position: relative;
    display: inline-block;
    bottom: -30px;
    padding: 0 20px;
    background: #222c57;
}

.business-btn__wrapper .btn {
	width: 240px;
}

.components {
	padding: 70px 0 70px;
}

.components .title-box, .recommend .title-box {
    padding: 0 0 0 15px;
    margin-bottom: 35px;
    margin-left: 104px;
}

.components .title-box::before, .recommend .title-box::before {
    width: 2px;
}

.components .title-box h2, .recommend .title-box h2 {
    color: #000;
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 0;
}

.components-slider {
	margin: 0 -12px;
	max-width: 950px;
}

.components-slider .slider-item {
	height: 318px;
	margin: 0 12px;
	border: 1px solid #D9D9D9;
}

.components-slider__img {
	height: 230px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	--ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.components-slider h6, .components-cost {
    padding: 0 25px;
}

.components-slider h6 {
	margin-bottom: 15px;
	color: #000;
	font-weight: bold;
}

.components-cost {
	font-size: 20px;
	font-family: "PTSans";
	font-weight: bold;
	color: #222c57;
	text-decoration: underline;
}

.recommend {
	padding: 0 0 50px;
}

.product {
	padding: 40px 0 0;
} 

.product-wrapper {
	max-width: 1040px;
	--ms-align-items: flex-start;
	align-items: flex-start;
}

.product-slider__wrapper {
	--ms-align-items: flex-start;
	align-items: flex-start;
	width: 482px;
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.product-slider {
	width: 388px;
	height: 380px;
	border: 1px solid #D9D9D9;
}

.product-slider__item {
	width: 388px;
	height: 380px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	--ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.product-slider__nav {
	width: 67px;
}

.slick-slide {
	outline: none;
}

.product-slider__nav .slick-slide {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	--ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
	height: 67px;
	border: 1px solid #D9D9D9;
}

.product-info {
    position: relative;
    top: -8px;
    width: 490px;
}

.product-info h3 {
    margin: 0 0 15px;
    font-size: 35px;
}

.product-info__icon {
    margin: 0 0 5px;
    font-size: 63px;
}

.product-info__icon i::before {
	color: #ccc;
}

.plus-minus {
   	width: 110px;
    margin: 0 0 15px;
}

.plus-minus button {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	outline: none;
	border: 1px solid #A3A3A3;
	background-color: transparent;
	border-radius: 50%;
}

.plus-minus button span {
    display: inline-block;
    line-height: normal;
    font-size: 36px;
    line-height: 36px;
    color: #A3A3A3;
}

.plus-minus input {
	display: inline-block;
	max-width: 35px;
	text-align: center;
	border: none;
	background-color: transparent;
	font-size: 25px;
	color: #A3A3A3;
	outline: none;
}

.product-info .old-price {
    display: inline-block;
    margin: 0 0 5px;
    font-size: 18px;
    color: #A3A3A3;
    text-decoration: line-through;
    font-family: "PTSans";
}

.product-info__price {
    margin: 0 0 10px;
    font-size: 32px;
    font-family: "PTSans";
    font-weight: bold;
}

.product-info__label {
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.05em;
}

.product-info__btn {
    margin: 44px 0 0;
}

.product-info .btn {
	width: 195px;
}

.btn-credit {
	position: relative;
    padding: 0 0 0 20px;
}

.product-info .btn-credit {
    width: 264px;
}

.btn-credit::before {
    content: 'A';
    position: absolute;
    left: 55px;
    top: -3px;
    font-weight: bold;
    font-family: "Roboto";
    color: #fff;
    font-size: 20px;
}

.btn-credit::after {
    content: '';
    position: absolute;
    left: 54px;
    top: 35px;
    width: 14px;
    height: 2px;
    background: #fff;
}

.product-text article {
	margin-top: 35px;
}

.cart-box {
    margin: 40px auto 0;
    max-width: 945px;
}

.cart-box__header {
	margin-bottom: 40px;
}

.cart-box__header .title-box {
	padding: 0 0 0 15px;
}

.cart-box__header .title-box::before {
	width: 2px;
}

.cart-box__header .title-box h2 {
	color: #000;
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 0;
}

.cart-box__header .btn-transparent {
    width: 225px;
    color: #222c57;
    background-color: transparent;
    border: 2px solid #222c57;
}

.cart-box__item li {
    margin-bottom: 12px;
}

.cart-box__img {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	--ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 130px;
	border: 1px solid #CCCCCC;
}

.cart-box__info {
    position: relative;
    width: 78%;
    min-height: 132px;
}

.cart-box__info::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -4px;
	width: 100%;
	height: 1px;
	background: #D9D9D9;
}

.cart-title {
    width: 210px;
    font-family: "PTSans";
    color: #000;
}

.cart-title strong {
	display: block;
	font-size: 20px;
}

.cart-title span {
	font-size: 14px;
	opacity: .7;
}

.cart-box__price {
	width: 100px;
	text-align: left;
	font-size: 22px;
	font-family: "PTSans";
}

.cart-box .plus-minus {
	margin: 0;
}

.cart-box__clear {
	display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    outline: none;
    border: 1px solid #898989;
    background-color: transparent;
    border-radius: 50%;
}

.cart-box__clear span {
    font-family: serif;
    font-size: 30px;
    line-height: 34px;
    color: #A3A3A3;
}

.cart-total {
    margin: 30px 0 0;
    justify-content: flex-start;
}

.cart-total__btn {
	width: 404px;
}

.cart-total__btn .btn {
	width: 167px;
}

.cart-total__btn .btn-credit {
	width: 212px;
}

.cart-total__btn .btn-credit::before, .cart-total__btn .btn-credit::after {
    left: 30px;
}

.privacy {
    margin: 0 0 0 30px;
    width: 310px;
}

.privacy label, .privacy a {
	font-family: "PTSans";
	color: #000;
	opacity: .7;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 30px;
    cursor: pointer;
    font-size: 14px;
    color: #000;  
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 1px solid #D4D4D4;
    border-radius: 50%;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 8px;
    top: 8px;
    left: 4px;
    margin: 0 auto;
    background: url(img/checkbox-ic.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.cart-total__price {
	margin: 0 0 0 30px;
	font-family: "PTSans";
}

.cart-total__price span {
	display: block;
	font-size: 22px;
}

.cart-total__price strong {
	font-size: 22px;
	letter-spacing: 0.05em;
}

.contact-box {
    --ms-align-items: flex-start;
    align-items: flex-start;
    padding: 45px 60px 15px;
    margin-top: 50px;
    border: 3px solid #222C57;
}

.contact-box__left {
	width: 45%;
}

.contact-box__right {
	width: 50%;
}

.contact-box .title-box, .requisites .title-box, .warehouses .title-box {
    padding: 0 0 0 15px;
    margin: 17px 0 35px;
}

.contact-box .title-box::before, .requisites .title-box::before, .warehouses .title-box::before {
    width: 2px;
}

.contact-box .title-box h2, .requisites .title-box h2, .warehouses .title-box h2 {
    color: #000;
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 0;
}

.contact-box__btn {
    margin: 0 0 25px;
}

.contact-box__btn .btn-red {
	width: 241px;
}	

.contact-box__btn .btn-transparent {
	width: 225px;
    color: #222c57;
    background-color: transparent;
    border: 2px solid #222c57;
}

.list-item {
    margin-bottom: 25px;
    list-style: none;
    font-family: "PTSans";
}

.list-item li {
	font-size: 18px;
	line-height: 25px;
}

.list-item li a {
	color: #000;
}

.requisites {
	margin-top: 50px;
	padding-left: 60px;
	max-width: 1010px;
}

.requisites-wrapper {
	--ms-align-items: flex-start;
	align-items: flex-start;
}

.warehouses-wrapper {
	margin-top: 50px;
	padding-left: 60px;
	max-width: 910px;
}

.tabs-nav {
	text-align: center;
	list-style: none;
}

.tabs-nav li {
    display: inline-block;
}

.tabs-nav li a {
	position: relative;
    display: block;
    font-size: 30px;
    color: #A3A3A3;
}

.tabs-nav li a.active {
	color: #000;
}

.tabs-nav li a.active::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #c01f24;
}

.tabs-items {
    margin: 26px 0 0 0;
}

.tabs-item {
	display: none;
}

.tabs-item.active {
	display: block;
}

.tabs-item__blue {
	background: #222c57;
}

.contact-icon__wrapper {
	height: 115px;
	padding-left: 60px;
	max-width: 910px;
	justify-content: flex-start;
}

.contact-icon__item {
    margin-right: 70px;
}

.contact-icon__icon {
	margin-right: 15px;
	width: 39px;
	height: 39px;
	line-height: 39px;
	border: 2px solid #fff;
	border-radius: 50%;
	text-align: center;
}

.contact-icon__icon img {
	max-width: 18px;
	max-height: 22px;
	display: inline-block;
	vertical-align: middle;
}

.contact-icon__info {
	position: relative;
	padding: 0 0 0 18px;
	font-family: "PTSans";
	color: #fff;
}

.contact-icon__info::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    height: 38px;
    width: 2px;
    background: #BE191E;
}

.contact-icon__info strong {
	display: block;
	font-size: 18px;
}

.tabs-map {
	width: 100%;
	height: 536px;
}

.tabs-map > div {
	width: 100%;
	height: 100%;
}

/* 4 - END of .content ---------------------------------------------------------- */
.modal-form {
	background: #222c57;
}

.modal-form__blue .modal-dialog {
    width: auto;
    margin: 15% auto 0;
}

.modal-form__blue .modal-body {
    padding: 60px 0;
    background: #222c57;
}

.modal-form__blue .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.modal-form__top {
	margin-bottom: 40px;
}

.modal-form__blue .close {
    float: right;
    font-size: 100px;
    font-weight: 100;
    line-height: 30px;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    outline: none;
}

.modal-form__blue .title-box {
    padding: 0 0 0 15px;
}

.modal-form__blue .title-box::before {
    width: 2px;
}

.modal-form__blue .title-box h2 {
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 10px;
}

.modal-form input {
    padding: 0 0 10px 15px;
    margin: 0 0 50px;
    background-color: transparent;
    width: 100%;
    color: #fff;
    font-family: "PTSans";
}

.modal-form textarea {
	width: 100%;
	height: 120px;
	padding: 15px 0 0 15px;
    border: none;
    border: 1px solid #BABABA;
    outline: none;
    background: transparent;
    resize: none;
    color: #fff;
    font-family: "PTSans";
}

.modal-form .btn-red {
    width: 240px;
    float: right;
    margin: 20px 0 0;
}

.modal-after__submit .modal-dialog {
    width: auto;
    margin: 110px auto 0;
}

.modal-after__submit .modal-body {
    padding: 0;
    background: url(img/modal-bg.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.modal-after__submit--text {
	height: 435px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
   justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
    outline: 0;
    outline-offset: 0;
}

.modal-after__submit .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.modal-after__submit .title-box {
    padding: 0 0 0 15px;
    margin-bottom: 20px;
}

.modal-after__submit .title-box::before {
    width: 2px;
}

.modal-after__submit .title-box h2 {
	color: #000;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0;
}

.modal-after__submit p {
	margin-bottom: 50px;
}

.modal-after__submit .btn-red {
	width: 240px;
}

#cart-modal .btn {
    display: block;
    margin: 0 auto;
    float: none;
}

#product-modal .btn-red {
    margin: -10px 0;
}
#product-modal  .modal-form__top {
    margin-bottom: 50px;
}
/* 5 - BEGIN of footer ---------------------------------------------------------- */

footer {
	padding: 70px 0 0;
	background: #222c57;
}

footer * {
	color: #fff;
}

footer .title-box {
	margin-right: 40px;
}

footer .title-box h2 {
	font-size: 50px;
	margin-bottom: 0;
}

.btn-transparent {
	width: 202px;
	background-color: transparent;
	border: 2px solid #fff;
}

footer .btn-red {
	width: 240px;
}

.footer-top {
	justify-content: flex-start;
}

.footer-top .btn {
	margin-left: 20px;
}

.footer-list__wrapper {
	--ms-align-items: flex-start;
	align-items: flex-start;
}

.footer-list__wrapper {
    margin: 58px 0 0;
}

.footer-list {
	list-style: none;
	font-family: "PTSans";
}

.footer-list li {
    font-size: 18px;
    line-height: 25px;
}

.footer-dowiz {
    justify-content: flex-start;
    min-height: 100px;
    margin: 28px 0 0;
    border-top: 1px solid #4E5679;
    border-bottom: 1px solid #4E5679;
}

.footer-dowiz__text {
    padding: 0 30px 0 0;
    font-size: 30px;
    letter-spacing: 0.05em;
}

.app-links {
	margin-left: 30px;
}

.app-links__googleplay {
	display: inline-block;
	margin-left: 30px;
	width: 160px;
}

.app-links__appstore {
	display: inline-block;
	width: 151px;
	margin-left: 30px;
}

.footer-bottom {
	height: 216px;
}

.footer-bottom__btn {
	list-style: none;
}

.footer-bottom__btn li {
	display: inline-block;
	margin-right: 5px;
}

.footer-bottom__btn a {
	font-size: 48px;
}

.footer-bottom__btn .icon-vk {
    display: inline-block;
    vertical-align: text-top;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border: 2px solid #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
}

.footer-bottom__menu {
	list-style: none;
}

.footer-bottom__menu li {
	display: inline-block;
	margin-right: 40px;
}

.footer-bottom__menu li:last-child {
	margin-right: 0;
}

.footer-bottom__menu li a {
	font-size: 30px;
	opacity: .4;
}

.footer-bottom__menu li a:hover {
	opacity: 1;
}

.footer-bottom__tel {
	text-align: right;
}

.footer-bottom__tel a {
	font-size: 30px;
}

.footer-bottom__tel span {
	display: block;
	font-size: 16px;
	opacity: .4;
	font-family: "PTSans";
}

.scroll-top {
	font-size: 45px;
}

/* 5 - END of footer ---------------------------------------------------------- */

/* * - BEGIN of @media ---------------------------------------------------------- */
.header-slider__content {
    padding: 180px 0 0;
}
@media screen and (max-width: 1600px) {
.header-slider__item .icon-list {
    margin: 50px 0 50px;
}



}
@media screen and (max-width: 1199px) {
.life-wrapper {
    width: 860px;
}
.life {
    padding: 0 0 0 30px;
}	
.header-slider__content {
    padding: 130px 0 0;
}
.icon-list__item > p {
    font-size: 16px;
}
.header-scroll__bottom {
    bottom: 30px;
}
.look-also__slider .slider-item {
    margin: 0 10px;
}
.look-also__slider {
    max-width: 790px;
    margin: 0 -10px;
}
.history-slider {
    max-width: 790px;
}
header {
	overflow: hidden;
}
.title-box h2 {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 30px;
}
.header-slider__item h5 {
    font-size: 14px;
}
.header-slider__item .icon-list {
    margin: 30px 0 30px;
}
.slick-dots {
    bottom: 15px;
}
.header-slider__btn {
    bottom: 34px;
}
.product-catalog__text {
    padding: 90px 15px 0;
}
h5 {
    font-size: 16px;
    font-family: "Roboto";
}
.feedback-form input {
    width: 190px;
}
h3 {
    font-size: 20px;
}
.services-box__item--title .title-box h2 {
    font-size: 40px;
}
.seminars {
    height: 400px;
}
.life .title-box h2 {
    font-size: 40px;
}
.life .title-box::before {
    width: 2px;
    height: 80px;
    top: 8px;
}
.app-links__googleplay {
    width: 90px;
}
.app-links__appstore {
    width: 90px;
}
.footer-bottom__menu li a {
    font-size: 20px;
}
.components-slider {
    max-width: 800px;
}


}

/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 991px) {
.life-wrapper {
    width: auto;
}	
.history-slider {
    max-width: 560px;
}
.slick-prev::before, .slick-next::before {
    font-size: 30px;
    color: #D9D9D9;
}
.slick-next {
    right: -20px;
}
.slick-prev {
	left: -20px;
}
.slider {
	max-width: 90%;
}
a.logo {
    max-width: 150px;
}
.btn-call__back {
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
}
.header-top__right {
    width: auto;
}
.header-top__right > * {
	margin-left: 20px;
}
.header-tel > a {
    font-size: 18px;
}
.header-tel > span {
    font-size: 12px;
}
.header-slider__item .icon-list {
    display: none;
}
.title-box h2 {
    font-size: 22px;
    line-height: 20px;
}
.title-box {
    padding: 0 0 0 10px;
}
.btn {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.header-slider__item .btn {
    width: auto;
    margin-top: 10px;
}
.slick-dots li button:before, .slick-dots li.slick-active button:before {
    top: -1px;
}
.product-catalog {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	-o-flex-direction: column-reverse;
	flex-direction: column-reverse;
    padding: 30px 0 0;
}
.product-catalog__title {
    position: static;
}
.product-catalog__title .title-box {
    margin: 0;
}
.product-catalog__title {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 20px;
}
.title-box h2 {
    margin: 0;
}
h6 {
    font-size: 16px;
}
.feedback-form .justify-align {
    display: block;
}
.feedback-form input {
    display: block;
    margin-bottom: 15px;
    width: 190px;
}
.feedback-form .title-box::before {
    top: 0;
}
.feedback-form {
    margin: 50px 0 50px;
    padding: 41px 30px;
}
.services-box {
    display: block;
    padding: 30px 0;
}
.services-box__item {
    width: auto;
    max-width: 280px;
    margin: 0 auto 20px;
}
.services-box__item--title .title-box h2 {
    font-size: 34px;
}
.services-box__text .icon-pena {
    width: 40px;
    font-size: 40px;
}
.services-box__text .icon-rezina {
    font-size: 40px;
}
.services-box__text .icon-polm {
    font-size: 40px;
}
h3 {
    font-size: 18px;
}
.services-box__text i {
    font-size: 40px;
}
.services-box__text .icon-people {
    font-size: 40px;
}
.services {
    padding: 0;
}
.services-box__item--title {
	display: block;
    max-width: none;
    text-align: center;
}
.services-box__item--title > * {
	display: inline-block;
}
.seminars p br {
	display: none;
}
.life-wrapper {
    display: block;
}
.life {
    padding: 0;
}
.life .title-box {
    margin-bottom: 20px;
}
.life-box {
    width: auto;
}
.footer-top {
    display: block;
}
footer .title-box h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.footer-top .btn {
    margin-left: 0;
    margin-right: 20px;
}
.footer-list__wrapper {
    margin: 30px 0 0;
    display: block;
}
footer {
    padding: 50px 0 0;
}
.footer-list {
    margin-bottom: 20px;
}
.look-also {
    padding: 50px 0 50px;
}
.footer-bottom {
    height: auto;
    display: block;
}
.footer-bottom__btn {
    display: block;
    text-align: center;
    padding: 15px 0;
}
.footer-bottom__menu {
    text-align: center;
}
.footer-bottom__tel {
    padding: 15px 0 10px;
    text-align: center;
}
.scroll-top {
    display: block;
    font-size: 45px;
    width: 45px;
    margin: 0 auto 15px;
}
.main-menu__modal .modal-content {
    padding-top: 100px;
}
.main-menu__item h3 {
    margin-bottom: 30px;
    font-size: 20px;
}
.main-menu__list > li > a {
    font-size: 18px;
    line-height: normal;
}
.main-menu__sub > li > a {
    line-height: normal;
    font-size: 14px;
}
.main-menu__list > li > a::after {
    width: 100%;
}
.main-menu__list > li {
    margin-bottom: 10px;
}
.header-slider__4 h5 {
    margin-bottom: 20px;
}
.icon-block {
    display: none;
}
.inner-menu > li > a {
    font-size: 14px;
}
.catalog-item {
	max-width: 260px;
	margin: 0 auto 30px;
}
.ransom-text {
    width: auto;
}
.ransom-text > span {
    font-size: 30px;
}
.ransom-text__footnote {
    font-size: 20px;
}
.ransom::before, .ransom::after {
    width: 80%;
}
.business-text > span {
    font-size: 28px;
    top: -19px;
}
.business-text {
    padding: 0 30px;
}
.business {
    padding: 30px 0;
    height: auto;
    background: #222c57;
}
.business-btn__wrapper .btn {
    width: 160px;
}
.inner .header-top__right {
    width: auto;
}
.product-wrapper {
    display: block;
}
.product-info {
    top: 0;
    margin-top: 30px;
}
}

/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
.btn-call__back {
	display: none;
}	
.header-tel > span {
    display: none;
}
.header-tel > a {
    font-size: 14px;
}
.header-top {
    height: 50px;
}
.header-top__right > * {
    margin-left: 15px;
}
.header-user {
    font-size: 26px;
    position: relative;
    top: 3px;
}
a.logo {
    max-width: 120px;
}
.header-scroll__bottom {
    bottom: 10px;
    font-size: 20px;
}
.burger-menu {
    width: 25px;
}
.slick-dots li button:before, .slick-dots li.slick-active button:before {
   display: none;
}
li.slick-active {
    padding-right: 0;
}
li.slick-active::after {
   display: none;
}
.slick-dots {
    bottom: 0px;
    left: 20px;
}
.slick-dots li {
    width: 10px;
}
.header-slider__btn {
    bottom: 19px;
}
.header-slider__next {
    right: -115px;
}
.header-slider__content {
    padding: 60px 0 0;
}
.header-slider__item h5 {
    font-size: 12px;
}
.mobile-apps {
    margin: 10px 0 10px;
}
.mobile-apps a {
    margin-left: 10px;
    font-size: 30px;
}
.product-catalog__box {
    display: block;
}
.product-catalog__item {
    display: block;
    width: 280px;
    margin: 0 auto 20px;
}
.history {
    height: auto;
    padding: 50px 0;
}
.look-also .title-box {
    padding: 0 0 0 15px;
    margin: 0;
}
.look-also .title-box h2 {
    margin-bottom: 36px;
    font-size: 36px;
    color: #000;
}
.slider {
	max-width: 258px;
}
.show-more {
    margin: 30px 0 0 0;
    font-size: 26px;
}
.footer-top {
    display: block;
    text-align: center;
}
.footer-top .btn {
	display: block;
    width: 240px;
    margin: 0 auto 20px;
}
footer .title-box {
    margin: 0 0 30px;
}
footer .title-box::before {
	display: none;
}
.footer-list {
    margin-bottom: 20px;
    text-align: center;  
}
.footer-list li {
	font-size: 14px;
}
.footer-dowiz {
    display: block;
    padding: 10px 0;
    text-align: center;
}
.footer-dowiz__text {
    display: block;
    padding: 0 0 10px;
    font-size: 22px;
}
.app-links__googleplay {
    margin: 0;
}
.app-links {
    text-align: center;
    margin-left: 0;
}
.footer-bottom__btn a {
    font-size: 36px;
}
.footer-bottom__btn .icon-vk {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
}
.footer-bottom__menu li a {
    font-size: 16px;
}
.footer-bottom__menu li {
    margin-right: 20px;
}
.footer-bottom__tel a {
    font-size: 20px;
}
.history-slider {
    max-width: none;
}
.slick-current .history-slider__years {
    font-size: 50px;
}
.history-slider::before {
    width: 65%;
    margin: 0 auto;
}
.history-slider__text--current .history-slider__info {
	display: block;
}
.history-slider__icon {
    width: 60px;
    margin: 0 auto 10px;
}
.history-slider__text {
    width: auto;
    text-align: center;
}
.history-slider .slick-next {
    right: 0;
}
.history-slider .slick-prev {
	left: 0;
}
.life {
	height: auto;
    padding: 30px 0;
}
.life-box__links a {
    font-size: 36px;
}
.main-menu__item::before {
    display: none;
}
.main-menu__item {
    margin-bottom: 30px;
}
.modal-after__submit .modal-dialog {
    margin: 30px auto 0;
}
.modal-after__submit--text {
    height: auto;
    padding: 30px 0;
}
.main-menu__modal .modal-content {
    padding-top: 70px;
}
.header-top.active .header-top__right > .main-menu {
    margin-left: 10px;
}
.inner header {
    padding-top: 50px;
}
.inner-menu {
    display: block;
    padding: 10px 0;
}
.inner-menu li {
	display: block;
	text-align: center;
}
.cart-box__header {
    display: block;
}
.cart-box__header .btn-transparent {
    margin: 20px 0 0;
}
.cart-box__item li {
    display: block;
    margin-bottom: 40px;
}
.cart-box__info {
    width: auto;
    display: block;
}
.cart-title {
    width: auto;
    margin: 0 0 10px;
}
.cart-box__price {
    display: block;
    width: auto;
    margin: 0 0 10px;
}
.cart-box__info::after {
    bottom: -20px;
}
.cart-total {
    display: block;
}
.privacy {
    margin: 20px 0 0 0;
    width: auto;
}
.cart-total__price {
    margin: 0;
}
.components .title-box, .recommend .title-box {
    margin-left: 0;
}
.cart-total__btn {
    display: block;
    width: auto;
}
.cart-total__btn .btn-credit {
    width: 220px;
}
.cart-total__btn .btn {
    width: 220px;
}
.cart-total__btn > a {
 display: block;
 margin: 0 auto 10px;
}
.blue-box {
    height: 233px;
    padding: 15px;
}
.blue-box__title {
    font-size: 14px;
}
.product-slider__wrapper {
    width: 290px;
    margin: 0 auto;
    display: block;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}
.product-slider {
    width: 290px;
    height: auto;
}
.inner .header-top {
    height: 60px;
}
.product-slider__nav {
    margin: 10px -3px;
    width: 290px;
}
.product-slider__nav .slick-slide {
    margin: 0 3px;
}
.product-slider__item {
    height: 300px;
    padding: 10px;
}
.product-info__btn {
    margin: 30px 0 0;
    display: block;
    text-align: center;
}
.product-info .btn {
    width: 264px;
    margin-bottom: 10px;
}
.product-info {
    width: auto;
}
.contact-box {
    display: block;
    padding: 30px 20px 15px;
}
.contact-box__left {
    width: auto;
}
.contact-box__right {
    width: auto;
    margin-top: 20px;
}
.blue-box__wrapper {
    margin: 30px 0 30px;
}
.list-item {
    margin-bottom: 0;
    margin-top: 20px;
}
.requisites-wrapper {
    display: block;
}
.contact-icon__wrapper {
	display: block;
    height: auto;
    padding: 30px 0;
}
.contact-icon__item {
    margin-right: 0;
    display: inline-flex;
    margin-bottom: 10px;
}
.contact-icon__info {
    max-width: 230px;
    font-size: 14px;
}
.tabs-mobile__btn {
    position: relative;
    display: block;
    display: block;
    padding: 15px 15px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #222c57;
    border-bottom: 1px solid #fff;
}
.tabs-mobile__btn:hover, .tabs-mobile__btn:focus {
	color: #fff;
}
.tabs-mobile__btn::before {
    display: block;
    content: "\e924";
    position: absolute;
    right: 15px;
    top: 11px;
    font-family: "icomoon";
    font-size: 25px;
    color: #fff;
}
.tabs-item {
    display: block;
}
.tabs-item__body {
    display: none;
}
.tabs-item.active-m .tabs-mobile__btn::before {
	--webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.warehouses-wrapper {
    margin-top: 50px;
    padding-left: 0;
}
.warehouses .title-box {
    margin: 17px 0 0px;
}
.requisites {
    padding-left: 0;
}

}
/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 550px) {
.header-slider .slick-slide img {
    display: block;
    height: 200px;
}	



}



/* ----------------------------------------------------------------------------------- */
@media screen and (max-width: 335px) {
.header-tel {
	display: none;
}



}

/* * - END of @media ---------------------------------------------------------- */
